<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/kitchen-display">Kitchen Display</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    (click)="isCollapsed = !isCollapsed"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/products']" >Products </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"routerLink="/kitchen-display">Display</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/order-report']">Reports</a>
      </li>
    </ul>
  </div>
</nav>
<main role="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>